<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <div class="content">
    <h1>About</h1>
    <hr>
    <p>MIATA (Medical Imaging and Advanced Technology Academy) is a premier institution committed to advancing healthcare education through innovation, research, and practical training. Founded with the vision of bridging the gap between medical science and technology, MIATA specializes in medical imaging, functional medicine, and advanced diagnostic techniques.
    <br>Our mission is to empower healthcare professionals with the skills and knowledge required to meet the challenges of modern medicine. By combining traditional learning with cutting edge technology, MIATA fosters an environment where students can excel academically, professionally, and personally.
    <br>We pride ourselves on being a hub of innovation, where future healthcare leaders are nurtured to make meaningful contributions to society.
    <hr>
    </p>
  </div>

</body>
</html>