<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="content">
    <h1>Contact Us</h1>
    <hr>
    <p>MIATA <br>
    Albert street Windsor gardens -sa 5087 <br>
    Adelaide Australia <br>
    Heatherton road dandinong north - Melbourne vic 3175 <br>
    Australia.<br></p>
  </div>
</body>
</html>