<!DOCTYPE html>
<html>
<head>
  <title>Courses A–Z</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <div class="content">
    <h1>Courses A–Z</h1>
    <hr>
    <p>MIATA offers specialized diploma programs designed to equip students with practical expertise and theoretical knowledge:<br>
    •	Professional Diploma in Medical Imaging – Ultrasound <br>
        Training in diagnostic ultrasound techniques, image interpretation, and patient care.<br>
    •	Professional Diploma in Nutrition <br>
        Comprehensive study of dietetics, nutritional therapy, and preventive health strategies.<br>
    •	Professional Diploma in Functional and Lifestyle Medicine<br>
        Focused on holistic approaches to health, integrating lifestyle interventions with clinical practice.<br>
    •	Professional Diploma in Upper GI Endoscopy <br>
        Hands on training in gastrointestinal endoscopy procedures, patient safety, and clinical applications.<br>
    Each program is structured to balance theory, practice, and innovation, ensuring graduates are industry ready.<br>
    <hr>
    </p>
  </div>

</body>
</html>