<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Faculties</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="content">
    <h1>Our Facilities</h1>
    <hr>
    <p>MIATA offers world class facilities designed to support both academic excellence and practical training:<br>
    •  Advanced Laboratories: Equipped with state of the art ultrasound machines, endoscopy units, and diagnostic tools for hands on learning.<br>
    •  Digital Learning Hubs: Smart classrooms with interactive boards, simulation software, and access to pre recorded lectures.<br>
    •  Research Centers: Dedicated spaces for AI development, medical imaging research, and innovation projects.<br>
    •  Library & Knowledge Resources: A comprehensive collection of medical journals, e books, and research databases.<br>
    •  Student Support Services: Counseling, mentorship, and career guidance to ensure holistic development.<br>
    •  Recreational & Wellness Facilities: Spaces for relaxation, fitness, and community engagement to balance academic life.<br>
    <hr>
    </p>
  </div>
</body>
</html>